# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
spark-jars/
trino/
metabase-data/

# Logs
docker/sandbox/logs/
*.log
minio_date/
# Large data (full taxi trip parquet files)
docker/sandbox/spark/resources/NYC_Yellow_Taxi_Trips/
*.parquet
docker/sandbox/spark/resources/NYC_Yellow_Taxi_Trips_Cleaned/
# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/